:root {
    --body-bg: radial-gradient(circle at center,
            #2c2828 0%,
            #070606 55%,
            #461414 100%);
    --accent-bg: #DF2323;
    --sec-accent-bg: linear-gradient(90deg, #FF3B2F, #FF7A18);
}

body {
    background: var(--body-bg);
    color: white;
    animation: gradient-animation 5s ease infinite;
}

.main-text {
    font-size: 13rem;
    font-weight: bold;
    background: linear-gradient(90deg, white, rgb(228, 164, 164));
    font-family: open-sans, sans-serif;
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header, .hero {
    height: 80vh;
}
hr {
    border: 5px solid var(--accent-bg);
}

.highlight {
    background: var(--sec-accent-bg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.muted-text {
    color: rgb(255, 223, 163);
}

#hero-img {
    max-width: 100%;
    height: auto;
}
.card {
    border: 2px solid var(--accent-bg);
    border-radius: 10px !important;
    padding: 20px;
    background: var(--body-bg);
    color: white;
}
.card-title {
    font-size: 2rem;
    font-weight: bold;
    border-bottom: 2px solid var(--accent-bg);
}
.card img {
    height: 300px;
}
.btn-primary {
    background: var(--body-bg) !important;
    border: 2px solid var(--accent-bg) !important;
    color: var(--accent-bg);
    transition: 0.15s;
    border-radius: 2rem !important;
}
.btn-primary:hover {
    color: var(--accent-bg) !important;
    opacity: 0.8;
}
/* add bg animation */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

